#modal-container[data-page="login"] {
  .formDiv {
    font-family: "lemon";
    padding: 5px;
    position: relative;
    input {
      width: calc(100% - 20px);
      padding: 4px 10px;
    }
  }
  #forgot-password-button {
    background-color: white;
    color: black;
  }
}
