#main-content {
  #main-menu-page,
  #ordering-page,
  #checkout-page,
  #payment-page {
    display: none;
    height: var(--app-height);
    position: relative;
  }
  &[data-page="ordering"] {
    #ordering-page {
      display: block;
    }
  }
  &[data-page="menu"] {
    #main-menu-page {
      display: block;
    }
  }
  &[data-page="checkout"] {
    #checkout-page {
      display: block;
    }
  }
  &[data-page="payment"] {
    #payment-page {
      display: block;
    }
  }
}
.bottom-bar {
  width: 100vw;
  height: 8%;
  button {
    font-family: "Lemon";
    width: 50%;
    height: 100%;
  }
}
.main-container {
  height: 80%;
  overflow-y: scroll;
}
.item-card {
  background-color: white;
  border-radius: 10px;
}
.top-bar {
  padding: 0 10px;
  border-bottom: 0.5px solid black;
  .top-bar-title {
    font-family: "lemon";
    font-size: 25px;
    width: 80%;
    margin: 2%;
  }
  #cart-total {
    margin: 2%;
  }
}
